@media(max-width:412px) {
    body {

        padding: 0;
        margin: 0;

    }
    #text{
        font-size: 30px;
        font-family: inter;
        }
        .campo input[type="email"], .campo input[type="password"]{
            padding: 0.5em;
            border: 1px solid #1A1818;
            box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
            display: block;
        }
        #menu2{
            position:fixed;
            top:826px;
            left:0;
            width: 100%;
            height: 90px;
            background: #1A1818;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            
            ul {
            
                list-style: none;
                display: flex;
                align-items: center;
                height: 100%;
                margin: 0;
            }
            
    #text2 {
        font-size: 25px;
        font-family: inter;
    }
}